.backgroundImageForVideoPreview{
  background:url("https://img04.rl0.ru/882ff4adc17acb4fbac79e8de420385c/c512x512/cdn3.iconfinder.com/data/icons/follow-me/256/YouTube-512.png");
}

.videoPreview{
  position:relative;
  display:block;
  margin:0 auto;
  background-color:#f7eded;
  width:350px;
  height:350px;
  background-position:center;
  background-size: cover;
  border: 1px solid grey;
  border-radius: 0px;
}
.videoAnimated{
    animation: myFrames 5s both ease-in-out 0s 1;
}
.imagePlaceholder{
  position:absolute;
  top:0;
  bottom:0;
  display:block;
  margin:0 auto;
  background:url(https://static.pexels.com/photos/36487/above-adventure-aerial-air.jpg);
  background-color:red;
  width:350px;
  height:350px;
  background-position:center !important;/*if not specified as important, the properties get deleted when javascript programatically changes background url*/
  background-size: cover !important;
}


@keyframes myFrames{
    0%{
        opacity:0;
        background-position:left center;
    }
    0.0001%{
        opacity:1;
    }
    99.9999%{
        opacity:1;
        background-position:right center;
    }
    100%{
        opacity:0;
        background-position:right center;
    }
}

.textPreview{
    z-index:99;
    color:white;
    position:absolute;
    bottom:10px;
    left:10px;
    right:10px;
    animation:spanAnimations 5s both ease-in-out 0s 1;
    font-size: 1.5em;
    font-weight: bold;
}

@keyframes spanAnimations{
    0%{
        opacity:0;
    }
    80%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

#loadingBarContainer{
  display:flex;
  justify-content:center;
  width:80vw;
  margin:0 auto;
  padding-top:15px;
  padding-left:35px;
  padding-right:35px;
  width:100%;
}

.loadingBarPiece{
  background-color:rgba(255, 132, 132, 0.2);
  border-radius:3px;
  flex-shrink:1;
  overflow: auto;
  height:20px;
  margin-left:2px;
  margin-top:0px;
}
.animated{
  animation:filling 5s forwards cubic-bezier(0.74, 0.79, 1, 0.24) 0s 1;  
  width:60px;
}


@keyframes filling{
    from{
        box-shadow: inset 0px 0 0 0 #e0e0e0;
    }
    to{
        box-shadow: inset 100px 0 0 0 #e0e0e0;
    }
}